{% load static %}
  <!-- Section: Course list -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
          <h1> Perfect scholarships </h1>

          {% if perfect_filtered_scholarships %}
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Scholarship Name</th>
                <th scope="col">School Name</th>
                <th scope="col">Deadline</th>
                <th scope="col">Course</th>
                <th scope="col">Budget</th>
                <th scope="col">GPA</th>
                <th scope="col">Apply</th>
                
              </tr>
            </thead>
            <tbody>
              
              {% for all in perfect_filtered_scholarships %}
              <tr>
                <th>{{all.scholarship_name}}</th>
                <td>{{all.school_name}}</td>
                <td>{{all.deadline_apply}}</td>
                <td>{{all.course}}</td>
                <td>{{all.scholarship_budget}}</td>
                <td>{{all.gpa}}</td>
               
                <td>
                  <a href="{{all.web_link}}" class="btn btn-primary">Apply</a>
                </td>
              </tr>

              {% endfor %}
            
             
            </tbody>
          </table>

          {% else %}

          <h6>No Scholarship available</h6>

          {% endif %}
          
          </div>
     
        </div>
       
      </div>
    </section>

    