{% load static %}
  <!-- Section: Course list -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
          <h1> Partially qualified Scholarships </h1>
          {% if seventy_percent_filtered %}
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Scholarship Name</th>
                <th scope="col">School Name</th>
                <th scope="col">Deadline</th>
                <th scope="col">Course</th>
                <th scope="col">Budget</th>
                <th scope="col">GPA</th>
                <th scope="col">Reasons for not qualifying</th>
                <th scope="col">View Details</th>
                
              </tr>
            </thead>
            <tbody>
              
              {% for all in seventy_percent_filtered %}
              <tr>
                <th>{{all.scholarship_name}}</th>
                <td>{{all.school_name}}</td>
                <td>{{all.deadline_apply}}</td>
                <td>{{all.course}}</td>
                <td>{{all.scholarship_budget}}</td>
                <td>{{all.gpa}}</td>
                <td>
                  <ol>
                    <li>Age do not match</li>
                    <li>Country do not match</li>
                    <li>Scholarship type do not match</li>
                  </ol>
                </td>

                <td>
                  <a type="button" class="btn btn-primary">View Details</a>
                </td>
              </tr>

              {% endfor %}
            
             
            </tbody>
          </table>

          {% else %}

          <h6>No Scholarship available</h6>

          {% endif %}
          
          </div>
     
        </div>
       
      </div>
    </section>

    