{% load static %}
  <!-- Section: Course list -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
          <h1> Scholarships not qualified for </h1>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Scholarship Name</th>
                <th scope="col">School Name</th>
                <th scope="col">Deadline</th>
                <th scope="col">Course</th>
                <th scope="col">Budget</th>
                <th scope="col">GPA</th>
                <th scope="col">Reasons for not qualifying</th>
                <th scope="col">View Details</th>
                
              </tr>
            </thead>
            <tbody>
              {% if zero_percent_filtered_scholarships %}
              {% for all in zero_percent_filtered_scholarships %}
              <tr>
                <th>{{all.scholarship_name}}</th>
                <td>{{all.school_name}}</td>
                <td>{{all.deadline_apply}}</td>
                <td>{{all.course}}</td>
                <td>{{all.scholarship_budget}}</td>
                <td>{{all.gpa}}</td>
                <td>
                  <ul>
                    <li>. Employment status do not match</li>
                    <li>.Age do not match</li>
                    <li>. do not match</li>
                  </ul>
                </td>

                <td>
                  <a type="button" class="btn btn-primary">View Details</a>
                </td>
              </tr>

              {% endfor %}
              {% endif %}
             
            </tbody>
          </table>
          
          
          
          </div>
     
        </div>
       
      </div>
    </section>

    