{% load static %}
   <!-- Section: Doctor Details -->
    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-sx-12 col-sm-4 col-md-4">
            {% if user_profile %}
              <div class="doctor-thumb">
                <img src="{{user_profile.image.url}}" alt="">
              </div>
            {% endif %}
                   <div class="info p-20 bg-black-333">
                <h4 class="text-uppercase text-white">{{request.user.username}}</h4>
               
                <ul class="list angle-double-right m-0">
                  <li class="mt-0 text-gray-silver"><strong class="text-gray-lighter">First Name</strong><br>{{request.user.first_name}}</li>
                  <li class="text-gray-silver"><strong class="text-gray-lighter">Last Name</strong><br>{{request.user.last_name}}</li>
                   <li class="text-gray-silver"><strong class="text-gray-lighter">Email</strong><br>{{request.user.email}}</li>
                   <li class="text-gray-silver"><strong class="text-gray-lighter">Phone</strong><br>{{request.user.phone}}</li>
                    <li class="text-gray-silver"><strong class="text-gray-lighter">Profile Type</strong><br>{{request.user.type}}</li>
                </ul>
             
                <a class="btn btn-info btn-flat mt-10 mb-sm-30" href="{% url 'mainapp:edit_profile' %}">Edit Profile</a>
                <a class="btn btn-danger btn-flat mt-10 mb-sm-30" href="{% url 'account:logout' %}">Logout</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
              <form name="editprofile-form" method="POST" action="{% url 'mainapp:edit_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="icon-box mb-0 p-0">
                  
                  <h4 class="text-gray pt-10 mt-0 mb-30">Personal Details</h4>
                </div>
                <hr>
               
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Country</label>
                    <input name="country" class="form-control" type="text">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Permanent Address</label>
                    <input name="permanent_address" class="form-control" type="text">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Current Address</label>
                    <input name="current_address" class="form-control" type="text">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Scholarship Type</label>
                       <select name="type" class="form-control" id="cars">
                            <option value="Full">Full</option>
                            <option value="Partial">Partial</option>
                        
                        </select>
                 
                  </div>
                </div>

                <div class="row">
                
                  <div class="form-group col-md-12">
                    <label>Profile Picture</label>
                    <input name="scholarship_img" class="form-control" type="file">
                  </div>
                </div>
                
                <div class="form-group">
                  <button class="btn btn-dark btn-lg mt-15" type="submit">Update</button>
                </div>
              </form>
              
              <hr class="mt-70 mb-70">

            
            </div>
          </div>
        </div>
      </div>
    </section>
