{% load static %}

<header id="header" class="header">
    
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
        <div class="container">
          <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
              <li class="active"><a href="{% url 'mainapp:index' %}">Home</a>
              </li>
              <li><a href="{% url 'mainapp:scholarship' %}">Scholarship<span class="label label-info">New</span></a>
             
              </li>
              <li><a href="{% url 'mainapp:about' %}">About</a>
               
         

               </li>
               {% if request.user.is_authenticated %}
              <li><a href="{% url 'mainapp:user_profile' %}">Profile</a>
              {% endif %}
              </li>

               </li>
               {% if request.user.is_authenticated %}
               {% if request.user.type == "Committee" %}
              <li><a href="{% url 'mainapp:upload_scholarship' %}">Upload Scholarship</a>
              {% endif %}
              {% endif %}
              </li>

                {% if request.user.is_authenticated %}
               {% if request.user.type == "Student" %}
              <li><a href="{% url 'mainapp:recommendations' %}">Recommendations</a>
              {% endif %}
              {% endif %}
              </li>


            
             
           
            </ul>
            <ul class="pull-right flip hidden-sm hidden-xs">
              <li>
                <!-- Modal: Book Now Starts -->
                 {% if request.user.is_authenticated %}
                  <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15"  href="{% url 'account:logout' %}">Logout</a>
                <!-- Modal: Book Now End -->

                 {% else %}
                <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15"  href="{% url 'account:sign_in' %}">Login</a>
                <!-- Modal: Book Now End -->

                {% endif %}
              </li>
            </ul>
            <div id="top-search-bar" class="collapse">
              <div class="container">
                <form role="search" action="#" class="search_form_top" method="get">
                  <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                  <span class="search-close"><i class="fa fa-search"></i></span>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  